<!DOCTYPE html>
<html>
	<head>
	<style>

body{
	width: h0%;
	height: 70%;
	padding: 100px;
}
/*header*/
.utama {
	border: 2px solid;
	padding: 20px;
	background:grey;
	text-align: center;
	color: white;
}
/*menu*/
.menu ul li{
	float:right;
	list-style-type:none;
	padding:10px;
}
/*carian*/
.carian {
	float: right;
	width: 100%;
	height: 40px;
	border: 2px solid;
	text-align:right;
}
 .clear{
	clear:both;
}
.badan{
	height:50px;
	width: 100%;
	
	
}
/*sidebar*/
 .badan .sidebar{
	background-color: white;
	float:left;
	text-align: center;
	width:25%;
	height: 350px;
	margin-top: 20px;
    border: 2px solid;
   
	
}
.badan .sidebar .KONTAK{
	width: 50%;
	margin-top:30px;
	margin-left: 60px;
	margin-bottom: 15px;
	text-align:center;
	border: 1px solid;
}
 .badan .sidebar .TELEPON{
	width: 50%;
	margin-top:30px;
	margin-left: 60px;
	margin-bottom: 15px;
	border:1px solid;
	text-align:center;
}
 .badan .sidebar .LOGIN{
	width: 50%;
	margin-top:30px;
	margin-left: 60px;
	margin-bottom: 15px;
	border:1px solid;
	text-align: center;
}
.badan .sidebar .KATEGORI{
	width: 50%;
	margin-top:30px;
	margin-left: 60px;
	margin-bottom: 15px;
	border:1px solid;
	text-align:center;
	padding-bottom:5px;
}	
.badan .content{
	background-color :white;
	float: right;
	text-align: center;
	width:55%;
	height:350px;
	border: 2px solid;
	margin-top: 20px;
	margin-bottom:10px;
	margin-right: 15px;
}
.footer{
	padding: 5px;
	border: 1px solid;
	width: 99%;
	text-align: center;
	background: white;
	margin-top:60px;
} 

</style>
</head>
</html>





	